// Colours
$red: #FF3838;
$orange: #FF6B00;
$blue: #0057FF;
$purple: #9038FF;
$white: #FFF;
$gray: #AEAEAE;
$black: #000;

// Gradients
$radial-gradient-blue: radial-gradient(100% 2805.08% at 100% 49.3%, $purple 0%, $blue 100%);
$radial-gradient-red: radial-gradient(100% 2805.08% at 100% 50%, $red 0%, $orange 100%);

// Fonts
$body-font-family: "Montserrat", Helvetica, Arial, sans-serif;

// Breakpoints
$mobile-breakpoint: 640px;
$small-breakpoint: 1025px;
