@import "../helpers";
@import "../variables";

.body {
  flex: 1 0 auto;
  padding: 4vw 8vw;
  display: flex;
  flex-flow: column nowrap;
}

.cards {
  height: 100%;
  padding-top: 4vw;
  margin: 0 -8px;
  width: calc(100% + 16px);
  flex: 1 0;
  display: flex;
  flex-flow: column nowrap;

  @include breakpoint('min-width', $mobile-breakpoint) {
    flex-flow: row nowrap;
  }
}

.controls {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  @include breakpoint('min-width', $small-breakpoint) {
    flex-flow: row nowrap;
  }
}
